#toolbar {
    height: 55px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0;
}

h2 {
    padding: 0px;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.toolmenu-container {
    width: 100%;
    display: flex;
    padding: 0px 20px;

}

.toolmenu-middle {
    flex: 1;

    display: flex;
    padding: 0px 20px;
    align-items: center;
}

.toolmenu-container>span {
    font-size: 22px;
    font-weight: bold;
}

.toolmenu-right {
    align-items: center;
    display: flex;
}

.toolmenu-right>svg {
    margin: 0px 10px;
}