
  .click {
    cursor: pointer;
  }
  
  .primary-text {
    font-size: 16px;
    line-height: 1.5em;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgb(21, 22, 31);
  }
  
  .border20 {
    border-radius: 20px;
  }
  
  .padding {
    padding: 10px 15px 0px 15px;
  }
  
  .padding-vertical {
    padding: 10px 0px;
  }
  
  .tapview {
    min-height: 45px;
    background-color: white;
  }
  
  .menu-item {
    width: calc(100% - 20px);
    margin: 0px 10px;
    display: 'flex';
    justify-content: center;
    cursor: pointer;
  }
  
  .menu-item-select {
    width: calc(100% - 20px);
    margin: 0px 10px;
    display: 'flex';
    justify-content: center;
    background-color: #409EFF22;
  
    border-radius: 10px;
    cursor: pointer;
  }
  
  .menu-content,
  .menu-content-select {
    display: flex;
    align-items: center;
    transform: translateY(50%);
  }
  
  .menu-content>img {
    margin-left: 10px;
  }
  
  .menu-content>span {
    padding-left: 10px;
  }
  
  .menu-content-select>img {
    margin-left: 10px;
  }
  
  .menu-content-select>span {
    padding-left: 10px;
    color: var(--Primary-color);
  }
  
  
  
  
  /** description */
  .des-container {
    background-color: white;
    min-height: 65px;
  
    border-bottom: 1px solid #f3f3f3;
  }
  
  .des-head-container {
    display: flex;
  }
  
  .des-head-container>div {
    padding-left: 10px;
  }
  
  
  
  /** holder */
  
  .hoder-container {
    float: right;
    background: white;
    height: 40px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
  
  }
  
  .hoder-user-simple {
    display: flex;
    align-items: center;
  
  }
  
  .hoder-action>span {
    padding: 0px 10px;
    color: var(--Primary-color);
    cursor: pointer;
  
  }
  
  
  
  /** cell-container */
  .cell-container {
    display: flex;
    align-items: center;
    padding: 10px 5px;
  }
  
  .cell-container-select {
    display: flex;
  
    align-items: center;
    background-color: #409EFF11;
    padding: 10px 5px;
  }
  
  
  
  /* 这里是弹窗 需要用到的样式 */
  .modal-container {
    width: 400px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
  
    padding: 10px 20px;
    margin-left: 50%;
    background: white;
    border-radius: 5px;
  
  }
  
  .modal-title {
    width: 100%;
  }
  
  .modal-title>span {
  
    line-height: 35px;
    height: 35px;
    font-size: 20px;
  }
  
  .modal-content {
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
    height: calc(100% - 90px);
  }
  
  .modal-operator {
    width: 100%;
    height: 45px;
  }
  
  .modal-operator-close {
    /* width: 50%; */
    float: right;
    border: none;
    outline: none;
    height: 30px;
    width: 65px;
    line-height: 30px;
    background-color: transparent;
    opacity: 1;
    color: black;
    border-width: 0.5px;
    border-color: #f5f5f5;
    border-style: solid;
    border-radius: 2px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .modal-operator-confirm {
    /* width: 50%; */
    float: right;
    border: none;
    outline: none;
    height: 30px;
    width: 65px;
    line-height: 30px;
    background-color: transparent;
    opacity: 1;
  
    border-radius: 2px;
    color: white;
    background-color: var(--Primary-color);
    cursor: pointer;
  }
  
  .modal-operator-close:active,
  .modal-operator-confirm:active {
    opacity: .6;
    transition: opacity .3s;
  }
  
  
  .mask {
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
  
    bottom: 0;
    background: #00000022;
    z-index: 9998;
    /* box-shadow: inset 0 0 0px 0 #000; */
  }
  
  
  
  
  
  
  
  @keyframes move {
    from {
      right: -100%;
      top: 0px;
    }
  
    to {
      right: 0px;
      top: 0px;
    }
  }
  
  
  /* 这里是notication 需要用到的样式 */
  .notification-container {
    width: 220px;
    position: fixed;
    padding: 10px 20px;
  
    top: 0px;
    right: 0px;
    margin: 20px 20px;
    background: white;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    animation: move 0.2s;
    
  }
  
  .notification-title {
    width: 100%;
  }
  
  .notification-title>span {
  
    line-height: 22px;
    height: 22px;
    font-size: 16px;
    color: #000000E0;
  }
  
  .notification-content {
    width: 100%;
    font-size: 14px;
  
    color: #000000E0;
    padding: 5px 0px;
    height: calc(100% - 90px);
  }