.menu-container {
    display: flex;

}

.tab {
    border: none;
    margin: 0px 0px 0px 20px;
    outline: none;
    background: none;
    cursor: pointer;
    
    font-weight: bold;
}

.tab-select {
    font-weight: bold;
    color: var(--Primary-color);
}


.tab:hover {

}