.footer-container {
    height: 160px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.footer-menu {

    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.footer-menu-items>li {
    text-decoration: none;
    padding: 5px 0px;
    margin: 0px 80px;
    cursor: pointer;
}

.footer-menu-layout {
    display: flex;

}




/**
PDetails
**/
.detailimages-view {
    white-space: nowrap;
    overflow: scroll;
    height: 100px;
    max-width: 360px;
}
.detailimages-view::-webkit-scrollbar{
    display: none;
}